/*--GOOGLE FONTS--*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;700&display=swap');


/*--ROOT--*/
:root {
    --body-font: 'Inter', sans-serif;
    --principal-color: #101010;
    --principal-color-lighter: #121212;
    --color-white: #fff;
    --color-blue: rgb(45, 77, 136);
    --color-red: #fe5152;
    --color-green: #39d78d;
    --btn-color: #202020;
    --fw-light: 300;
    --fw-regular: 400;
    --fw-bold: 700;
}


/*--BASE--*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-font);
    color: var(--color-white);
    background-color: var(--principal-color);
}

button {
    border: none;
    outline: none;
    cursor: pointer;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}


/*--REUSABLE--*/
.section {
    padding: 0 2rem;
}


/*--HEADER--*/
header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 10vh;
    padding-left: 1.5rem;
    transition: .3s all;
}

header a img {
    width: 1.3rem;
}


/*--MAIN--*/
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 80vh;
}

#start {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.start-main h1 {
    font-size: 2em;
    margin-bottom: 1rem;
    padding: 0 20px;
}

.start-main_btn {
    width: 11rem;
    height: 3rem;
    border-radius: .6rem;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.start-line {
    border: 1px solid rgba(255, 255, 255, 0.8);
    width: 15rem;
}

#start-add {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .6rem;
    width: 100%;
}

#start-add_word {
    width: 100%;
    height: 2.6rem;
    text-align: center;
    border: none;
    border-radius: .6rem;
}

#start-add span {
    font-size: .7em;
    font-style: italic;
}

.start-add_btn {
    width: 11rem;
    height: 3rem;
    border-radius: .6rem;
    color: var(--color-blue);
    background-color: var(--color-white);
}


/*--GAME--*/
#game {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: .5rem;
}

canvas {
    width: 200px;
    height: auto;
}

.user-input {
    display: flex;
    flex-direction: row;
}

.dashes {
    padding: 10px 5px;
    text-align: center;
    font-size: 1em;
    font-family: var(--body-font);
    font-weight: var(--fw-bold);
}

.keyboard {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    width: 100%;
    gap: .4rem;
}

.keys {
    width: 1.5rem;
    height: 2rem;
    font-size: 1em;
    font-weight: var(--fw-bold);
    background-color: var(--color-white);
    border-radius: .2rem;
}

.new_game-popup {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

#result-text {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: .5rem;
}

#result-text h1 {
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: var(--fw-bold);
}

#result-text p {
    font-size: .8em;
}

#result-text span {
    font-size: 1em;
    font-weight: var(--fw-bold);
}

#new-game_btn {
    width: 10rem;
    height: 3rem;
    border-radius: .6rem;
    color: var(--color-white);
    background-color: var(--color-blue);
}

.win {
    color: var(--color-green);
}

.lose {
    color: var(--color-red);
}

.hide {
    display: none;
}


/*--FOOTER--*/
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 10vh;
    gap: .2rem;
}

footer p {
    font-size: .8em;
}

#social-media {
    display: flex;
    flex-direction: row;
    gap: .3rem;
}

.icon1 {
    width: 23px;
}

.icon2 {
    width: 20px;
}


/*--MEDIA QUERIES--*/
@media screen and (min-width: 425px) {
    #start-add_word {
        width: 20rem;
    }

    .keys {
        width: 2.5rem;
    }
}

@media screen and (min-width: 768px) {
    #start {
        flex-direction: row;
    }

    .start-main {
        width: 100%;
    }

    .start-add {
        width: 100%;
    }

    .start-line {
        width: 0;
        height: 100%;
    }

    #start-add_word {
        width: 20rem;
    }

    canvas {
        width: 300px;
        height: auto;
    }

    .dashes {
        padding: 5px 5px;
    }

    .keyboard {
        grid-template-columns: repeat(13, 1fr);
    }

    .keys {
        width: 3rem;
        height: 2.5rem;   
    }

    .new_game-popup {
        gap: 1rem;
    }
}

@media screen and (min-width: 1024px) {
    header a img {
        width: 1.5rem;
    }
    
    .start-main h1 {
        font-size: 2.5em;
    }
    
    .start-main_btn {
        width: 15rem;
        height: 4rem;
        font-size: .8em;
    }
    
    #start-add_word {
        width: 30rem;
        font-size: .8em;
    }
    
    #start-add span {
        font-size: .8em;
    }
    
    .start-add_btn {
        width: 15rem;
        height: 4rem;
    }

    #start {
        gap: 1rem;
    }
    
    .start-main {
        width: 100%;
    }

    .start-add {
        width: 100%;
    }

    .keys {
        width: 4rem;  
    }

    footer {
        gap: .4rem;
    }

    footer p {
        font-size: .8em;
    }

    .icon1 {
        width: 27px;
    }
    
    .icon2 {
        width: 24px;
    }
}

@media screen and (min-width: 1440px) {
    header a img {
        width: 1.5rem;
    }
    
    .start-main h1 {
        font-size: 2.5em;
    }
    
    .start-main_btn {
        width: 15rem;
        height: 4rem;
        font-size: .8em;
    }
    
    #start-add_word {
        width: 30rem;
        font-size: .8em;
    }
    
    #start-add span {
        font-size: .8em;
    }
    
    .start-add_btn {
        width: 15rem;
        height: 4rem;
        font-size: .8em;
    }

    canvas {
        width: 450px;
        height: auto;
    }

    .dashes {
        font-size: 2.5em;
        padding: 5px 8px;
    }

    .keys {
        font-size: 1.2em;
        width: 6rem;  
    }

    footer {
        gap: .4rem;
    }

    footer p {
        font-size: 1em;
    }

    .icon1 {
        width: 27px;
    }
    
    .icon2 {
        width: 24px;
    }
}